<div class="container">
  <div class="todo-list">
    {{title}}
    <div class="input-group">
      <input type="text" placeholder="todo" #newTask>
      <button (click)="add(newTask.value)" class="add-button">+</button>
    </div>
    <table>
      <tr *ngFor="let task of tasks" class="even">
        <td>
          {{task}}
        </td>
        <td>
          <button (click)="remove(task)" class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
  </table>
  </div>
</div>