* {
    font-family: 'Roboto';
  }

  .container {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    margin: auto;
  }

  .input {
    border: 0.5px solid black;
  }

  .input-group {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-bottom: 11px;
  }

  input {
    flex-grow: 1;
    padding: 13px;
    font-size: 16.5px;
    color: #1c1c1c;
  }

  ::placeholder {
    color: rgb(56, 56, 56);  
  }

  input:focus {
    border-style: solid;
    outline: none !important;
    border: 1px solid rgb(48, 48, 48);
    box-shadow: 0 0 10px rgb(171, 171, 171);
  }

  .add-button {
    border-style: none;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(23, 23, 23);
    font-size: x-large;
    font-weight: bold;
  }
  button{
    border-style: none;
    cursor: pointer;
    height: 100%;
  }
  .done-button {
    background-color: #242424;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
  }
  .remove-button {
    background-color: #000000;
    color: #ffffff;
    font-size: 22px;
  }

  table {
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding-top: 5%;
  }

  tr {
    padding-left: 20px;
    height: 50px;
    text-align: left;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  td {
    height: 100%;
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
  }

  .even {
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
  }

  .odd {
    background-color: rgb(11, 11, 11);
    color: rgb(255, 255, 255);
  }

  .is-done {
    text-decoration: line-through;
  }

  .error-message {
    color: rgb(246, 29, 29);
    margin-top: -10px;
  }